.cardContainer{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.heading{
    background-color: #a0c3ee;
    text-align: center;
    line-height:50px;
}
.contentCenter{
    background-color: #a0c3ee;
}
.contentBottom{
    background-color: #a0c3ee;
}
.datatime{
    position: relative;
    line-height: normal;
    margin: auto 0;
    display: inline-block;
    padding-top: 10px;
    float: left;
}
.tmpicker-container{
    height: 100%;
    line-height: 40px;
    vertical-align: middle;
}

.input-append{
    font-size: 0;
}
.input-append input{
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 5px;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
    cursor: not-allowed;
    background-color: #eee;
}

.input-append span{
    margin-left: -1px;
    border-radius:0 6px 6px 0;
    display: inline-block;
    width: auto;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border: 1px solid #ccc;
}
.bottomSubmit{
    float: right;
}
.sbutton{
    width: 80px;
    height: 40px;
    background-color: #8397ee;

}