body{
    background-color: #eee;
}
.cardContainer{
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardEffect-btn{
    box-shadow:  0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}
.bgColor-green{
    background-color: #25B943;
}
.bgColor-blue{

}
.title-container{
    margin: 15px auto;
}